*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow: hidden;
}
.contenedor{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
    nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
        height: 80px;
        line-height: 80px;
        z-index: 111;
        .logo{
            display: flex;
            font-size: 40px;
            font-weight: 800;
            color: #3d535f;
            letter-spacing: 3px;
            cursor: pointer;
            b{
                font-size: 70px;
                color: #7f00ff;
            }
        }
        .navItems{
            display: flex;
            li{
                list-style: none;
                margin: 0 15px;
                a{
                    font-size: 25px;
                    color: #3d535f;
                    letter-spacing: 3px;
                    text-decoration: none;
                    text-transform: capitalize;
                    &:hover{
                        color: #7f00ff;
                    }
                }
            }
        }
        .redes{
            a{
                font-size: 30px;
                color: #3d535f;
                margin: 25px 10px;
                &:hover{
                    color: #7f00ff;
                }
            }
        }
    }
    .wrapper{
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        &::before{
            position: absolute;
            content: '';
            height: 400px;
            width: 400px;
            border-radius: 50%;
            left: -12%;
            top: 40%;
            background: linear-gradient(45deg, #7f00ff, pink);
            animation: object1 3s linear infinite;
        }
        &::after{
            position: absolute;
            content: '';
            height: 100px;
            width: 100px;
            border-radius: 50%;
            left: 35%;
            top: 12%;
            background: linear-gradient(45deg, #7f00ff, pink);
            animation: object2 6s linear infinite;
        }
        .cols0{
            width: 60%;
            z-index: 5;
        }
        .cols{
            width: 50%;
            .topline{
                display: block;
                position: relative;
                font-size: 35px;
                letter-spacing: 5px;
                color: #3d535f;
                &::after{
                    position: absolute;
                    content: '';
                    height: 4px;
                    width: 45px;
                    bottom: 10px;
                    background-color: #7f00ff;
                }
            }
            h1{
                display: block;
                font-size: 4em;
                font-weight: 900;
                color: #3d535f;
                .multiText{
                    color: #7f00ff;
                }
            }
            p{
                display: block;
                width: 100%;
                font-size: 1.2em;
                color: #3d535f;
                .cambiarColor{
                    color: #7f00ff;
                }
            }
        }
        .btns{
            width: 100%;
            position: relative;
            left: 150px;
            button{
                outline: none;
                border: none;
                cursor: pointer;
                font-size: 15px;
                font-weight: 400;
                color: #fff;
                background-color: #3d535f;
                padding: 8px 14px;
                margin: 40px 5px;
                letter-spacing: 2px;
                text-transform: capitalize;
                box-shadow: 0 15px 10px rgba(0,0,0,0.4);
                &:hover{
                    background-color: #7f00ff;
                }
            }
        }
        .imgbox{
            position: relative;
            width: 100%;
            height: 100%;
            right: -150px;
            top: 70px;
            img{
                position: relative;
                height: 100%;
                width: 400px;
                top: -100px;
                right: 50px;
                animation: animateUser 4s linear infinite;
            }
            #splash{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-35deg);
                width: 110%;
                animation: animate 4s linear infinite;
            }
        }
    }
    .nav-responsible {
        background-color: #9fc131;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
      }
}
@keyframes animateUser{
    50%{
        right: 30px;
        top: -90px;
    }
}
@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 105%;
    }
}
@keyframes object1{
    50%{
    left: -13%;
    top: 41%;
    }
}
@keyframes object2{
    50%{
    left: 35%;
    top: 10%;
    }
}
