* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

.contenedor-header {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.contenedor-header header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 111;
}
.contenedor-header header .logo {
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color: #3d535f;
  letter-spacing: 3px;
  cursor: pointer;
}
.contenedor-header header .logo b {
  font-size: 70px;
  color: #7f00ff;
}
.contenedor-header header .navItems {
  display: flex;
}
.contenedor-header header .navItems li {
  list-style: none;
  margin: 0 15px;
}
.contenedor-header header .navItems li a {
  font-size: 20px;
  font-weight: 800;
  color: #3d535f;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
.contenedor-header header .navItems li a:hover {
  color: #7f00ff;
}
.contenedor-header header .redes a {
  font-size: 30px;
  color: #3d535f;
  margin: 25px 10px;
}
.contenedor-header header .redes a:hover {
  color: #7f00ff;
}

.navItemsResponsive {
  background-color: #7f00ff;
  color: #f3f5f8;
  padding: 5px 15px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
.navItemsResponsive i {
  display: flex;
  margin: 7px 0;
}

.inicio {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8;
}
.inicio .wrapper {
  display: flex;
  width: 90%;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}
.inicio .wrapper::before {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  border-radius: 50%;
  left: -12%;
  top: 40%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object1 3s linear infinite;
}
.inicio .wrapper::after {
  position: absolute;
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 35%;
  top: 12%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object2 6s linear infinite;
}
.inicio .wrapper .cols0 {
  width: 70%;
  z-index: 5;
}
.inicio .wrapper .cols {
  width: 50%;
  padding-top: 20%;
}
.inicio .wrapper .cols .topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: #3d535f;
}
.inicio .wrapper .cols .topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #7f00ff;
}
.inicio .wrapper .cols h1 {
  display: block;
  font-size: 40px;
  font-weight: 900;
  color: #3d535f;
}
.inicio .wrapper .cols h1 .multiText {
  color: #7f00ff;
}
.inicio .wrapper .cols p {
  display: block;
  width: 100%;
  font-size: 1.2em;
  color: #3d535f;
}
.inicio .wrapper .cols p .cambiarColor {
  color: #7f00ff;
}
.inicio .wrapper .btns {
  width: 100%;
  position: relative;
  left: 150px;
}
.inicio .wrapper .btns button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.inicio .wrapper .btns button:hover {
  background-color: #7f00ff;
}
.inicio .wrapper .imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  right: -150px;
  top: 70px;
}
.inicio .wrapper .imgbox img {
  position: relative;
  height: 100%;
  width: 400px;
  top: -100px;
  right: 50px;
  animation: animateUser 4s linear infinite;
}
.inicio .wrapper .imgbox #splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-35deg);
  width: 110%;
  animation: animate 4s linear infinite;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: -90px;
  }
}
@keyframes animate {
  50% {
    top: 49%;
    left: 51%;
    width: 105%;
  }
}
@keyframes object1 {
  50% {
    left: -13%;
    top: 41%;
  }
}
@keyframes object2 {
  50% {
    left: 35%;
    top: 10%;
  }
}
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }
  .navItemsResponsive {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #f3f5f8;
    width: 220px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #7f00ff;
    padding: 10px 0;
  }
}
@media screen and (max-width: 767px) {
  .inicio .wrapper .cols {
    width: 50%;
    padding-top: 20%;
  }
  .inicio .wrapper .cols .topline {
    display: block;
    position: relative;
    font-size: 25px;
    letter-spacing: 3px;
    color: #3d535f;
  }
  .inicio .wrapper .cols .topline::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 25px;
    bottom: 5px;
    background-color: #7f00ff;
  }
  .inicio .wrapper .cols h1 {
    display: block;
    font-size: 20px;
    font-weight: 900;
    color: #3d535f;
  }
  .inicio .wrapper .cols h1 .multiText {
    color: #7f00ff;
    width: 100%;
  }
  .inicio .wrapper .cols p {
    display: block;
    width: 140%;
    font-size: 1.2em;
    color: #3d535f;
  }
  .inicio .wrapper .cols p .cambiarColor {
    color: #7f00ff;
  }
  .inicio .wrapper .imgbox {
    display: block;
    max-width: 100%;
  }
  .inicio .wrapper .imgbox img {
    width: 80%;
    z-index: -1;
  }
  .inicio .wrapper .imgbox #splash {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */